body {
}

.myPic {
    height: 290px;
    width: 187.5px;
    border-radius: 25px;
    margin-top: -40px;
}

#projects {
    font-size: 50px;
}

.addPadding {
    padding-left: 30px;
    padding-right: 30px;
}